$f: favorites;

.#{$f} {

    &__title {
        font: $fontBold;
        font-size: rem(20);
        line-height: rem(40);
        text-align: center;

        @include min-screen($desktop) {
            font-size: rem(40);
            line-height: rem(80);
        }
    }

    .search_results {

        @include min-screen($desktop) {
            margin: 0;
        }

        .is-grid-view {
            display: grid;
            grid-auto-flow: row;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto auto auto;
            grid-gap: 15px;

            @include min-screen($tablet) {
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: auto auto auto auto;
            }

            @include min-screen($desktop) {
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: auto auto auto auto;
                grid-gap: 30px;
            }
        }

        &__pagination {
            display: none;
            visibility: hidden;
        }
    }
}