body {
    padding: 70px 0 40px;

    @include min-screen($desktop) {
        padding: 80px 0 0;
    }

    @include min-screen($widescreen) {
        padding: 90px 0 0;
    }
}

$sw: site_wrap;

.#{$sw} {

    width: 100%;
    padding: 0 15px;
    margin: 0 auto;

    @include min-screen($desktop) {
        width: $desktop;
        min-height: calc(100vh - 100px);
    }

    @include min-screen($widescreen) {
        width: $widescreen;
        padding: 0 30px;
    }

}