$mv: movie_details;

.#{$mv} {

    display: flex;
    flex-direction: column;

    @include min-screen($tablet) {
        flex-direction: row;
    }

    &__figure {
        width: 100%;
        max-width: 300px;
        height: auto;
        margin: 0 auto;

        @include min-screen($desktop) {
            flex: 0 0 350px;
            max-width: unset
        }

        @include min-screen($widescreen) {
            flex-basis: 450px;
        }

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    &__text_wrap {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 30px 0 0;

        @include min-screen($tablet) {
            margin: 0 0 0 30px;
            width: 100%;
        }
    }

    &__title {
        font: $fontBold;
        font-size: rem(20);
        line-height: rem(28);

        @include min-screen($desktop) {
            font-size: rem(30);
            line-height: rem(38);
        }

        @include min-screen($widescreen) {
            font-size: rem(40);
            line-height: rem(48);
        }
    }

    &__plot {
        margin: 10px 0 0;
        font: $fontRegItalic;
        font-size: rem(16);
        line-height: rem(22);

        @include min-screen($desktop) {
            margin: 20px 0 0;
            font-size: rem(20);
            line-height: rem(26);
        }

    }

    &__info {
        margin: 20px 0 0;
        font: $fontReg;
        font-size: rem(14);
        line-height: rem(22);

        @include min-screen($desktop) {
            margin: 30px 0 0;
            font-size: rem(18);
            line-height: rem(40);
        }

        strong {
            font: $fontBold;
        }
    }

    &__ratings_and_votes {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0;

        @include min-screen($desktop) {
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
        }
    }

    &__ratings,
    &__votes {

        &:last-child {
            margin: 30px 0 0;
        }

        @include min-screen($desktop) {
            margin: 0 50px;

            &:last-child {
                margin: 0 50px;
            }
        }

        p {
            font: $fontBold;
            font-size: rem(14);
            line-height: rem(14);
            text-align: center;

            &:last-child {
                margin: 10px 0 0;
            }

            // in votes we have only two p tags so we need a larger margin
            & + p {
                margin: 15px 0 0 !important;
            }

            @include min-screen($desktop) {
                font-size: rem(18);
                line-height: rem(18);
            }
        }

        div {
            font-size: rem(16);
            margin: 10px 0 0;

            @include min-screen($desktop) {
                font-size: rem(18);
            }
        }
    }

    &__btns_wrap {
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        justify-self: flex-end;
        margin: auto 0 20px;

        @include min-screen($desktop) {
            margin: auto 0 0;
        }
    }

    &__back_btn {
        justify-self: flex-end;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 40px;
        border-radius: 8px;
        background-color: $blue;
        font: $fontReg;
        font-size: rem(14);
        color: #fff;
        cursor: pointer;

        &:hover {
            background-color: $dark-blue;
        }

        @include min-screen($desktop) {
            max-width: 200px;
            font-size: rem(18);
        }

        .icon {
            display: flex;
            align-items: center;
            width: 30px;
            height: 40px;
            font-size: rem(24);
        }
    }

    &__favorite_btn {
        position: absolute;
        right: 0;
        top: -6px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        font-size: rem(24);
        cursor: pointer;

        @include min-screen($desktop) {
            top: auto;
            bottom: -10px;
            width: 100px;
            height: 100px;
            font-size: rem(100);
        }

        @include min-screen($widescreen) {
            bottom: -20px;
            width: 150px;
            height: 150px;
            font-size: rem(150);
        }
    }

}