$n: nav;

.#{$n} {
    position: fixed;
    top: 40px;
    left: 0;
    z-index: -1;
    width: 100%;
    background: $blue;
    border-top: 1px solid #fff;
    transform: translateY(-100%);
    transition: all 0.25s;

    &.is-active {
        transform: translateY(0);
    }

    @include min-screen($desktop) {
        position: relative;
        top: auto;
        z-index: 1;
        display: inline-flex;
        width: auto;
        border: none;
        transform: none;
    }

    @include min-screen($widescreen) {
    }

    &__link {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 40px;

        font: $fontReg;
        font-size: rem(16);
        color: #fff;

        &::after {
            @include min-screen($desktop) {
                content: " ";
                position: absolute;
                top: 100%;
                left: 0;
                width: 0;
                height: 1px;
                background-color: #fff;
                opacity: 0;
                transition: all 0.25s;
            }
        }

        &:not(:first-child) {
            @include min-screen($desktop) {
                margin: 0 0 0 20px;
            }
        }

        &.router-link-active,
        &:hover {

            &::after {
                width: 100%;
                opacity: 1;
            }
        }

        @include min-screen($desktop) {
            height: auto;
            width: auto;
            font-size: rem(18);
        }
    }

}