$sr: search_results;

.#{$sr} {

    margin: 30px 0;

    @include min-screen($desktop) {
        flex: 1 1 auto;
        margin: 0 0 0 30px;
    }

    &__loader {
        width: 150px;
        height: 150px;
        margin: 0 auto;

        @include min-screen($desktop) {
            margin: 70px auto 0;
        }
    }

    &__no_results {
        margin: 30px 0;
        font: $fontBold;
        font-size: rem(14);
        line-height: rem(18);
        text-align: center;

        @include min-screen($desktop) {
            width: 100%;
            margin: 65px 0 0;
            font-size: rem(35);
            line-height: rem(40);
            text-align: left;
        }
    }

    &__layout_options {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
    }

    &__layout_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        margin: 0 10px;
        cursor: pointer;

        .icon {
            font-size: rem(30);
        }
    }

    &__list {
        margin: 30px 0 0;
        list-style-type: none;

        &.is-grid-view {
            display: grid;
            grid-auto-flow: row;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto auto auto;
            grid-gap: 15px;

            @include min-screen($tablet) {
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: auto auto auto auto;
            }

            @include min-screen($desktop) {
                grid-gap: 30px;
            }
        }

        &.is-list-view {
            @include min-screen($desktop) {
                display: flex;
                flex-flow: column wrap;
            }
        }
    }

    // only on list view
    &__heading {
        display: none;

        @include min-screen($desktop) {
            display: flex;
            align-items: center;
            height: 50px;
            padding: 0 20px 0 140px;
            margin: 30px 0 0;
            background-color: $grey;
            font: $fontBold;
            font-size: rem(18);
            line-height: rem(34);

            span {
                &:nth-child(1) {
                    width: 100px;
                    display: none;
                }

                &:nth-child(2) {
                    width: calc(((100% - 50px) * 0.5));
                    text-indent: -120px;
                }

                &:nth-child(3),
                &:nth-child(4) {
                    width: calc((100% - 50px) * 0.25);
                }
            }
        }

        @include min-screen($widescreen) {
            padding: 0 20px 0 190px;

            span {
                &:nth-child(2) {
                    text-indent: -170px;
                }
            }

        }
    }

    &__item {

        .is-grid-view & {
            border: 1px solid $grey;
            border-radius: 6px;
        }

        .is-list-view & {
            display: flex;
            align-items: center;
            padding: 10px 0 0;
            margin: 10px 0 0;
            border-top: 1px solid $grey;

            @include min-screen($desktop) {
                padding: 15px 20px 0;
                margin: 15px 0 0;
            }

            &:first-child {
                @include min-screen($desktop) {
                    border: none;
                    padding: 0 20px;
                    margin: 0;
                }
            }
        }

    }

    &__link {
        position: relative;
        display: flex;
        color: $black;
        height: 100%;

        .is-grid-view & {
            flex-direction: column;
        }

        .is-list-view & {
            display: flex;
            align-items: center;
            width: 100%;
        }
    }

    &__item_figure_wrap {
        position: relative;
        height: auto;

        .is-grid-view & {
            display: flex;
            flex-direction: column;

            width: 100%;
            font-size: 0;
            line-height: 0;
        }

        .is-list-view & {
            flex: 0 0 60px;

            @include min-screen($desktop) {
                flex-basis: 100px;
            }

            @include min-screen($widescreen) {
                flex-basis: 150px;
            }
        }
    }

    &__item_figure {
        position: relative;
        height: 0;
        background-color: rgba($grey, 0.2);

        .is-grid-view & {
            padding: 0 0 56.25%; // 16/9 ratio

            p {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: auto;
                font: $fontReg;
                font-size: rem(24);
                color: $black;
            }
        }

        .is-list-view & {
            padding: 0 0 139%; // image from api ratio
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: auto;
            max-width: 100%;
            height: auto;
            max-height: 100%;
            margin: auto;
            object-fit: contain;
        }

    }

    &__item_info {

        .is-grid-view & {
            display: flex;
            flex-direction: column;
            padding: 10px 15px 45px;
        }

        .is-list-view & {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            padding: 0 10px;

            @include min-screen($desktop) {
                padding: 0 0 0 20px;
            }
        }
    }

    &__item_name {
        font: $fontBold;
        font-size: rem(14);
        line-height: rem(20);

        @include min-screen($desktop) {
            font-size: rem(18);
            line-height: rem(24);
        }

        @include min-screen($widescreen) {
            font-size: rem(22);
            line-height: rem(26);
        }

        .is-grid-view & {
            text-align: center;
        }

        .is-list-view & {

            @include max-screen($tablet - 1) {
                width: 100%;
                max-height: 40px;
                padding: 0 10px 0 0;
                order: 1;
                overflow: hidden;
            }

            @include min-screen($tablet) {
                width: calc((100% - 50px) * 0.34)
            }


            @include min-screen($desktop) {
                width: calc((100% - 50px) * 0.5);
            }
        }
    }

    &__item_meta {
        font: $fontReg;
        font-size: rem(12);
        line-height: rem(20);

        @include min-screen($desktop) {
            font-size: rem(16);
            line-height: rem(24);
        }

        @include min-screen($widescreen) {
            font-size: rem(20);
            line-height: rem(28);
        }

        .is-grid-view & {
            margin: 15px 0;
            text-align: center;
        }
    }

    // only for list view
    &__item_year,
    &__item_type {
        font: $fontReg;
        font-size: rem(12);
        line-height: rem(20);

        span {
            @include min-screen($desktop) {
                display: none;
            }
        }

        @include min-screen($desktop) {
            font-size: rem(16);
            line-height: rem(34);
        }

        @include min-screen($widescreen) {
            font-size: rem(20);
            line-height: rem(38);
        }

        .is-grid-view & {
            text-align: center;
        }

        .is-list-view & {
            @include min-screen($tablet) {
                width: calc((100% - 50px) * 0.33)
            }

            @include min-screen($desktop) {
                width: calc((100% - 50px) * 0.25)
            }
        }
    }
    &__item_type {
        .is-list-view & {
            @include max-screen($tablet - 1) {
                order: 2;
            }
        }
    }

    &__item_year {
        .is-list-view & {
            @include max-screen($tablet - 1) {
                margin: 0 0 0 20px;
                order: 3
            }
        }
    }

    &__favorite_btn {
        display: block;
        height: 40px;

        .is-grid-view & {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 70px;
            text-align: center;
            margin: auto;
        }

        .is-list-view & {
            @include max-screen($tablet - 1) {
                display: inline-flex;
                justify-content: flex-end;
                width: 40px;
                margin: 0 0 0 auto;
                order: 4;
            }

            @include min-screen($tablet) {
                display: flex;
                justify-content: flex-end;
                width: auto;
                width: 50px;
                margin: 0 0 0 auto;
            }
        }

        .icon {
            font-size: rem(24);

            .is-list-view & {
                line-height: rem(38);
            }

            @include min-screen($desktop) {
                line-height: rem(34);
            }
        }
    }

    &__pagination {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 300px;
        height: 60px;
        margin: 30px auto;
    }

    &__prev_page,
    &__next_page {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        font: $fontReg;
        font-size: rem(14);
        cursor: pointer;

        .icon {
            height: 40px;
            font-size: rem(20);
            line-height: rem(38);
        }

        &.is-disabled {
            opacity: 0.5;
            pointer-events: none;
            cursor: default;
        }
    }

}