@font-face {
    font-family: "icomoon";
    src:  url("~@/assets/fonts/icomoon/icomoon.eot?4rip9p");
    src:  url("~@/assets/fonts/icomoon/icomoon.eot?4rip9p#iefix") format("embedded-opentype"),
        url("~@/assets/fonts/icomoon/icomoon.ttf?4rip9p") format("truetype"),
        url("~@/assets/fonts/icomoon/icomoon.woff?4rip9p") format("woff"),
        url("~@/assets/fonts/icomoon/icomoon.svg?4rip9p#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-keyboard_arrow_left:before {
    content: "\e900";
}

.icon-keyboard_arrow_right:before {
    content: "\e901";
}

.icon-navigate_before:before {
    content: "\e902";
}

.icon-navigate_next:before {
    content: "\e903";
}

.icon-view_comfy:before {
    content: "\e904";
}

.icon-menu:before {
    content: "\e905";
}

.icon-star:before {
    content: "\e906";
}

.icon-star_outline:before {
    content: "\e907";
}

.icon-view_list:before {
    content: "\e908";
}

.icon-view_module:before {
    content: "\e90c";
}

.icon-grid_view:before {
    content: "\e90b";
}

.icon-star_outline1:before {
    content: "\e909";
}

.icon-star_rate:before {
    content: "\e90a";
}

